
@{
    ViewBag.Title = "BookieConfirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="@Url.Content("~/plugins/daterangepicker/daterangepicker.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/dist/css/jquery.bootstrap-touchspin.css")" rel="stylesheet" type="text/css" />
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>ဒိုင်ဆီတင်ရန်</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Match Entry</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">

    <div class="card">
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-xl-2 col-md-3">
                    <label for="matchdate">ပွဲကစားမည့်နေ့</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text text-custom2" id="basic-addon1"><i class="fa fa-calendar-alt"></i></span>
                        </div>
                        <input readonly="readonly" type="text" class="form-control float-right" id="matchdate" onchange="DateChange();">
                    </div>
                </div>
            </div>
            <table id="tblMatch" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>ပွဲချိန်</th>@*MatchTime*@
                        <th></th>@*MatchID*@
                        <th></th>@*Team1ID*@
                        <th></th>@*Team2ID*@
                        <th></th>@*TotalTeamID*@
                        <th></th>@*TotalGoalType*@
                        <th></th>@*TTTeamID*@
                        <th></th>@*TTGoalType*@
                        <th></th>@*HATeamID*@
                        <th></th>@*HAGoalType*@
                        <th>Total Body</th>@*TotalBodyAmount*@
                        <th>Total Goal</th>@*TotalGoalAmount*@
                        <th>Home</th>
                        <th>Away</th>
                        <th>အချုပ်</th>
                        <th>TT<br />(ဘော်ဒီ)</th>@*TTBodyAmount*@
                        <th>TT<br />(ဂိုးပေါင်း)</th>@*TTGoalAmount*@
                        <th>HA<br />(ဘော်ဒီ)</th>@*HABodyAmount*@
                        <th>HA<br />(ဂိုးပေါင်း)</th>@*HAGoalAmount*@
                        <th>တင်ပြီး</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
        <div class="card-footer">
            <div style="text-align:center;">
                <button type="button" id="btnSave" onclick="Save();" class="btn btn-success">သိမ်းဆည်းမည်</button>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="@Url.Content("~/plugins/daterangepicker/moment.min.js")"></script>
    <script src="@Url.Content("~/plugins/daterangepicker/daterangepicker.js")"></script>
    <script src="@Url.Content("~/dist/js/jquery.bootstrap-touchspin.js")"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#matchdate').daterangepicker({
                timePicker: false, //<==MAKE THE CHANGE HERE
                singleDatePicker: true, //<==MAKE THE CHANGE HERE
                locale: {
                    format: 'DD-MM-YYYY'
                }
            });

            BindMatch();
        });


        function Save() {
            var catchError = false;

            var rows = [];
            $('#tblMatch tbody tr').each(function (i, n) {
                var $row = $(n);

                rows.push({
                    MatchID: $row.find('td:eq(0)').text(),
                    Team1Goal: $row.find('.t1').val(),
                    Team2Goal: $row.find('.t2').val(),
                });
            });

            if (!catchError) {
                $.ajax({
                type: 'post',
                dataType: 'json',
                url: '@Url.Action("MatchResult_Update", "Match")',
                data: { Table: JSON.stringify(rows) },
                success: function (res) {
                        if (res == true) {
                            ShowMessage('သိမ်းဆည်းခြင်း အောင်မြင်ပါသည်', 'success');
                        }
                        else {
                            ShowMessage('သိမ်းဆည်းခြင်း မအောင်မြင်ပါ', 'error')
                        }
                    }
                });
            }
        }

        function RemoveBtnColor(OddsTypeID) {
            $("#card"+OddsTypeID+ " .btn-danger").each(function () {
                $(this).removeClass('btn-danger');
                $(this).addClass('btn-default')
            });
        }

        function DateChange() {
            BindMatch();
        }

        function ShowMessage(msg, status) {

            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000
            });

            Toast.fire({
                type: status,
                title: msg
            });
        }

        function ButtonClick(type,max, btn,cName,cName1) {
            if (type == 1) {
                var txt = $(btn).closest('tr').find(cName);
                var txt1 = $(btn).closest('tr').find(cName1);
                if ($(txt).val() > 0) {
                    var v1 = -100 + + $(txt).val();
                    var v2 = 100 + + $(txt1).html();
                    $(txt).val(v1);
                    $(txt1).html(v2);
                }
            }
            else {
                var txt = $(btn).closest('tr').find(cName);
                var txt1 = $(btn).closest('tr').find(cName1);

                if (100 + + $(txt).val() <= max) {
                    var v1 = 100 + + $(txt).val();

                    var v2 = $(txt1).html() - 100;

                    $(txt).val(v1);
                    $(txt1).html(v2);
                }               
            }
        }

        function BindMatch() {
            var table = $('#tblMatch').DataTable(
                {
                    "language": {
                        "info": "Display _START_ to _END_ of _TOTAL_ records",
                    },
                    "oLanguage": {
                        "sLengthMenu": "Display _MENU_ records",
                    },
                    "ajax": {
                        "url": '@Url.Action("BookieConfirm_Select", "Bookie")?MatchDate='+$("#matchdate").val()+'',
                        "type": "GET",
                        "datatype": "json",
                        "dataSrc": ""
                    },
                    "searching": false,
                    "responsive": false,
                    "order": [[0, "desc"]],
                    "autoWidth": false,
                    "destroy": "true",
                    "paging": false,
                    "ordering": false,
                    "columns": [
                        { "data": "MatchTime","width":"10%" },
                        { "data": "MatchID", "className": "displayNone", "width": "0%" },
                        { "data": "Team1ID", "className": "displayNone", "width": "0%" },
                        { "data": "Team2ID", "className": "displayNone", "width": "0%" },
                        { "data": "TotalTeamID", "className": "displayNone", "width": "0%" },
                        { "data": "TotalGoalType", "className": "displayNone", "width": "0%" },
                        { "data": "TTTeamID", "className": "displayNone", "width": "0%" },
                        { "data": "TTGoalType", "className": "displayNone", "width": "0%" },
                        { "data": "HATeamID", "className": "displayNone", "width": "0%" },
                        { "data": "HAGoalType", "className": "displayNone", "width": "0%" },
                        { "data": "TotalBodyAmount", "className": "displayNone", "width": "0%" },
                        { "data": "TotalGoalAmount", "className": "displayNone", "width": "0%" },
                        { "data": "Home", "className": "displayNone" },
                        { "data": "Away", "className": "displayNone" },                       
                        { "data": "FullAmount","width":"18%" },                        
                        { "data": "TTBodyAmount", "width": "12%","className":"ttbody" },
                        { "data": "TTGoalAmount", "width": "12%", "className": "ttgoal" },
                        {   
                            "data": "HABodyAmount", render: function (data, type, row) {
                                return '<div class="input-group">' +
                                    '<div class="input-group-prepend">' +
                                    '<button style="color:white" class="btn btn-danger" type="button" onclick="ButtonClick(1,' + row.TTBodyAmount +',this,\'.body\',\'.ttbody\');">' +
                                    '-' +
                                    '</button>' +
                                    '</div>' +
                                    '<input type="number" inputmode="decimal" min="0" style="text-align: center" readonly="readonly" class="form-control body" placeholder="" value="' + row.HABodyAmount + '" />' +
                                    '<div class="input-group-append">' +
                                    '<button style="color:white" class="btn btn-danger" type="button" onclick="ButtonClick(2,' + row.TTBodyAmount +',this,\'.body\',\'.ttbody\');">' +
                                    '+' +
                                    '</button>' +
                                    '</div>' +
                                    '</div>'
                                //return '<button class="btn btn-info">+</button><input id="' + row.MatchID + '_1" class="form-control col-xl-12 col-md-12 aligncenter t1" min="0" max="15"  type="number" value="'+ row.Team1Goal +'" >'
                            }, "width": "22%"
                        },
                        { 
                            "data": "HAGoalAmount", render: function (data, type, row) {
                                return '<div class="input-group">' +
                                    '<div class="input-group-prepend">' +
                                    '<button style="color:white" class="btn btn-danger" type="button" onclick="ButtonClick(1,' + row.TTGoalAmount +',this,\'.goal\',\'.ttgoal\');">' +
                                    '-' +
                                    '</button>' +
                                    '</div>' +
                                    '<input type="number" inputmode="decimal" style="text-align: center" readonly="readonly" class="form-control goal" placeholder="" value="' + row.HAGoalAmount + '" />' +
                                    '<div class="input-group-append">' +
                                    '<button style="color:white" class="btn btn-danger" type="button" onclick="ButtonClick(2,' + row.TTGoalAmount +',this,\'.goal\',\'.ttgoal\');">' +
                                    '+' +
                                    '</button>' +
                                    '</div>' +
                                    '</div>'
                                //return '<button class="btn btn-info">+</button><input id="' + row.MatchID + '_1" class="form-control col-xl-12 col-md-12 aligncenter t1" min="0" max="15"  type="number" value="'+ row.Team1Goal +'" >'
                            }, "width": "22%"
                        },
                        {
                            "data": "", render: function (data, type, row) {
                                return '<input type="button" class="btn '+ row.IsConfirmClass +'" value="'+ row.IsConfirmText +'" />'
                            },width:"4%"
                        },
                    ],
                }
            );
        }
    </script>
}



