
@{
    ViewBag.Title = "OddsEntry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Styles {
    <link href="@Url.Content("~/plugins/daterangepicker/daterangepicker.css")" rel="stylesheet" type="text/css" />
}

<!-- Main content -->
    <section class="content">
        <input id="UserID" type="hidden">
        <div class="card">
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-xl-3 col-md-4">
                        <label for="matchdate">ပွဲကစားသည့်နေ့</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button style="color:white" class="btn btn-danger" onclick="GetPrevMatch();" type="button">
                                    ☜
                                </button>
                                <span class="input-group-text text-custom2" id="basic-addon1"><i class="fa fa-calendar-alt"></i></span>
                            </div>
                            <input readonly="readonly" type="text" class="form-control float-right" id="matchdate">
                            <div class="input-group-append">
                                <button style="color:white" class="btn btn-danger" onclick="GetNextMatch();" type="button">
                                    ☞
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="div1" class="col-xl-6">

            </div>
            <div id="div2" class="col-xl-6">

            </div>
        </div>
    </section>

@section Scripts{
    <script src="@Url.Content("~/plugins/daterangepicker/moment.min.js")"></script>
    <script src="@Url.Content("~/plugins/daterangepicker/daterangepicker.js")"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#matchdate').daterangepicker({
                timePicker: false, //<==MAKE THE CHANGE HERE
                singleDatePicker: true, //<==MAKE THE CHANGE HERE
                locale: {
                    format: 'DD-MM-YYYY'
                }
            });

            GetLastMatch();

        });

        function BindMatch() {
            $.ajax({
                url: '@Url.Action("GetMatch", "Match")?MatchDate='+$("#matchdate").val()+'',
                type: "GET",
                dataType: "JSON",
                dataSrc: '',
                success: function (res) {
                    BindToTable(res);
                }
            })
        }

        function BindToTable(res) {
            $("#div1").empty();
            $("#div2").empty();

            var card;
            var divid = '1';
            $.each(res, function (key, value) {
                card = '<div class="card card-primary" id="'+value.MatchID+'>' +
                    '<div class="card-body">' +
                    '<table id="tblMatch'+value.MatchID+'" class="table table-bordered table-striped">' +
                    '<thead>' +
                    '<tr>' +
                    '<th style="width:25%">'+value.MatchTime+'</th>' +
                    '<th style="width:30%">'+value.Home+'</th>' +
                    '<th style="width:30%">' + value.Away + '</th>' +
                    '<th style="width:15">ဂိုးပေါင်း</th>' +
                    '<th>HA</th>'+
                    '</tr>' +
                    '</thead>' +
                    '<tbody></tbody>' +
                    '<tfoot>' +
                    '</tfoot>' +
                    '</table>' +
                    '</div>' +
                    '</div>';

                if (divid == '1') {
                    $('#div1').append(card);
                    divid = '2';
                }
                else {
                    $('#div2').append(card);
                    divid = '1';
                }

                BindUserGambling(value.MatchID);
            });
        }


        function BindUserGambling(matchid) {
            $.ajax({
                url: '@Url.Action("UserGambling_Select", "Bookie")?MatchID='+matchid,
                type: "GET",
                dataType: "JSON",
                dataSrc: '',
                success: function (res) {
                    SetDataToTable(res,matchid);
                }
            })
        }

        function SetDataToTable(res,matchid) {

            var HomeAmount = 0;
            var AwayAmount = 0;
            var GoalUp = 0;
            var GoalDown = 0;
            var GoalChar = '';
            $.each(res, function (key, value) {

                if (value.BodyType == '1') {
                    HomeAmount = HomeAmount + value.BodyAmount;
                    var trow = '<tr><td>' + value.UserName + '</td><td>' + value.BodyAmount + '</td><td></td><td>' + value.GoalAmountChar + '</td><td></td></tr>'
                    var tableBody = $('#tblMatch' + matchid + ' tbody')
                    tableBody.append(trow);
                }
                else if (value.BodyType == '2') {
                    AwayAmount = AwayAmount + value.BodyAmount;
                    var trow = '<tr><td>' + value.UserName + '</td><td></td><td>' + value.BodyAmount + '</td><td>' + value.GoalAmountChar + '</td><td></td></tr>'
                    var tableBody = $('#tblMatch'+matchid+' tbody');
                    tableBody.append(trow);
                }

                if (value.GoalType == 1) {
                    GoalUp = GoalUp + value.GoalAmount;
                }
                else if (value.GoalType == 2) {
                    GoalDown = GoalDown + value.GoalAmount;
                }
            });

            if (GoalUp > GoalDown) {
                GoalChar = '↑' + (GoalUp - GoalDown);
            }
            else if (GoalDown > GoalUp) {
                GoalChar = '↓' + (GoalDown - GoalUp);
            }

            var tableFoot = $('#tblMatch' + matchid + ' tfoot')
            var trow = '<tr><td></td><td>' + HomeAmount + '</td><td>' + AwayAmount + '</td><td>' + GoalChar + '</td><td></td></tr>';
            tableFoot.append(trow);
        }

        function GetLastMatch() {
            $.ajax({
                url: '@Url.Action("GetLastMatch", "Match")?MatchDate=' + $("#matchdate").val(),
                type: "GET",
                dataType: "JSON",
                dataSrc: '',
                success: function (res) {                   

                    if (Object.keys(res).length > 0) {
                        var matchDate = res[0].MatchDate;
                        $('#matchdate').data('daterangepicker').setStartDate(matchDate);
                        $('#matchdate').data('daterangepicker').setEndDate(matchDate);

                        BindMatch();
                    }
                }
            })
        }

        function GetPrevMatch() {
            $.ajax({
                url: '@Url.Action("GetPrevMatch", "Match")?MatchDate=' + $("#matchdate").val(),
                type: "GET",
                dataType: "JSON",
                dataSrc: '',
                success: function (res) {
                    var matchDate;
                    if (Object.keys(res).length > 0) {
                        var matchDate = res[0].MatchDate;
                        $('#matchdate').data('daterangepicker').setStartDate(matchDate);
                        $('#matchdate').data('daterangepicker').setEndDate(matchDate);

                        BindMatch();
                    }
                }
            })
        }

        function GetNextMatch() {
            $.ajax({
                url: '@Url.Action("GetNextMatch", "Match")?MatchDate=' + $("#matchdate").val(),
                type: "GET",
                dataType: "JSON",
                dataSrc: '',
                success: function (res) {
                    var matchDate;
                    if (Object.keys(res).length > 0) {
                        var matchDate = res[0].MatchDate;
                        $('#matchdate').data('daterangepicker').setStartDate(matchDate);
                        $('#matchdate').data('daterangepicker').setEndDate(matchDate);

                        BindMatch();
                    }
                }
            })
        }
    </script>
}


