
@{
    ViewBag.Title = "BookieOddsEntry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="@Url.Content("~/plugins/daterangepicker/daterangepicker.css")" rel="stylesheet" type="text/css" />
}
<!-- Content Header (Page header) -->
<!-- Main content -->
<section class="content">
    <div id="TeamList">
    </div>
    <div class="card">
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-xl-3 col-md-4">
                    <label for="matchdate">ပွဲကစားသည့်နေ့</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button style="color:white" class="btn btn-danger" onclick="GetPrevMonth();" type="button">
                                ☜
                            </button>
                            <span class="input-group-text text-custom2" id="basic-addon1"><i class="fa fa-calendar-alt"></i></span>
                        </div>
                        <input readonly="readonly" type="text" class="form-control float-right" id="matchdate">
                        <div class="input-group-append">
                            <button style="color:white" class="btn btn-danger" onclick="GetNextMonth();" type="button">
                                ☞
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <table id="tblMatch" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th style="display:none"></th>
                        <th>ပွဲချိန်</th>
                        <th style="display:none"></th>
                        <th>ဘော်ဒီကြေး</th>
                        <th>Home</th>
                        <th>Away</th>
                        <th style="display:none"></th>
                        <th>ဘော်ဒီကြေး</th>
                        <th style="display:none"></th>
                        <th>ဂိုးပေါင်းကြေး</th>
                        <th style="display:none">SEQ</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
        <div class="card-footer">
            <div style="text-align:center;">
                <button type="button" id="btnSave" onclick="Save();" class="btn btn-success">သိမ်းဆည်းမည်</button>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-default">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">ကြေးရွေးချယ်ရန်</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <input id="BodyOddsId" type="hidden" value="" />
                        <label class="col-xl-1 md-1">ဘော်ဒီ</label>
                        <label id="lblBodyOdds" class="col-xl-1 md-1"></label>
                    </div>
                    <div class="row">
                        <input id="GoalOddsId" type="hidden" value="" />
                        <label class="col-xl-1 md-1">ဂိုးပေါင်း</label>
                        <label id="lblGoalOdds" class="col-xl-1 md-1"></label>
                    </div>
                    <div id="OddsList">
                    </div>
                </div>
                <div class="modal-footer">
                    <div>
                        <button type="button" id="btnConfirm" onclick="Confirm();" class="btn btn-success">အတည်ပြုမည်</button>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</section>

@section Scripts{
    <script src="@Url.Content("~/plugins/daterangepicker/moment.min.js")"></script>
    <script src="@Url.Content("~/plugins/daterangepicker/daterangepicker.js")"></script>

    <script type="text/javascript">
        var OddsID;
        var Odds;
        var GoalOddsID;
        var GoalOdds;      
        
        $(document).ready(function () {
            $('#matchdate').daterangepicker({
                timePicker: false, //<==MAKE THE CHANGE HERE
                singleDatePicker: true, //<==MAKE THE CHANGE HERE
                locale: {
                    format: 'DD-MM-YYYY'
                }
            });

            $("tbody", "#tblMatch").on("click", "td",
                function () {

                    if ($(this).hasClass("t1Odds") || $(this).hasClass("HomeTeam") || $(this).hasClass("t2Odds") || $(this).hasClass("AwayTeam")) {

                        if ($(this).hasClass("t1Odds") || $(this).hasClass("HomeTeam")) {
                            OddsID = $(this).closest('tr').find(".t1OddsID");
                        }
                        else  {
                            OddsID = $(this).closest('tr').find(".t2OddsID");
                        }
                      
                        Odds = this;
                        GoalOddsID = $(this).closest('tr').find('.tdGoalOddsID');
                        GoalOdds = $(this).closest('tr').find('.tdGoalOdds');

                        RemoveBtnColor(1);
                        RemoveBtnColor(2);

                        $("#BodyOddsId").val($(OddsID).html());
                        $("#lblBodyOdds").html($(this).html());

                        $("#GoalOddsId").val($(GoalOddsID).html());
                        $("#lblGoalOdds").html($(GoalOdds).html());

                        $('#modal-default').modal('show');
                    }                                                         
                });

            GetLastMonth();
            GetOdds();

        });

        function GetLastMonth() {
            $.ajax({
                url: '@Url.Action("GetLastMatch", "Match")?MatchDate=' + $("#matchdate").val(),
                type: "GET",
                dataType: "JSON",
                dataSrc: '',
                success: function (res) {                   

                    if (Object.keys(res).length > 0) {
                        var matchDate = res[0].MatchDate;
                        $('#matchdate').data('daterangepicker').setStartDate(matchDate);
                        $('#matchdate').data('daterangepicker').setEndDate(matchDate);

                        BindMatch();
                    }
                }
            })
        }

        function GetPrevMonth() {
            $.ajax({
                url: '@Url.Action("GetPrevMatch", "Match")?MatchDate=' + $("#matchdate").val(),
                type: "GET",
                dataType: "JSON",
                dataSrc: '',
                success: function (res) {
                    var matchDate;
                    if (Object.keys(res).length > 0) {
                        var matchDate = res[0].MatchDate;
                        $('#matchdate').data('daterangepicker').setStartDate(matchDate);
                        $('#matchdate').data('daterangepicker').setEndDate(matchDate);

                        BindMatch();
                    }
                }
            })
        }

        function GetNextMonth() {
            $.ajax({
                url: '@Url.Action("GetNextMatch", "Match")?MatchDate=' + $("#matchdate").val(),
                type: "GET",
                dataType: "JSON",
                dataSrc: '',
                success: function (res) {
                    var matchDate;
                    if (Object.keys(res).length > 0) {
                        var matchDate = res[0].MatchDate;
                        $('#matchdate').data('daterangepicker').setStartDate(matchDate);
                        $('#matchdate').data('daterangepicker').setEndDate(matchDate);

                        BindMatch();
                    }
                }
            })
        }

        function Confirm() {
            $(Odds).closest('tr').find('.t1OddsID').html('');
            $(Odds).closest('tr').find('.t1Odds').html('');
            $(Odds).closest('tr').find('.t2OddsID').html('');
            $(Odds).closest('tr').find('.t2Odds').html('');
            $(Odds).closest('tr').find('.tdGoalOddsID').html('');
            $(Odds).closest('tr').find('.tdGoalOdds').html('');


            $(Odds).html($("#lblBodyOdds").html());
            $(OddsID).html($("#BodyOddsId").val());

            $(GoalOdds).html($("#lblGoalOdds").html());
            $(GoalOddsID).html($("#GoalOddsId").val());

            $('#modal-default').modal('hide');
        }

        function Save() {
            var catchError = false;

            var rows = [];
            $('#tblMatch tbody tr').each(function (i, n) {
                var $row = $(n);

                rows.push({
                    MatchID: $row.find('td:eq(0)').text(),
                    Team1OddsID: $row.find('td:eq(2)').text(),
                    Team2OddsID: $row.find('td:eq(6)').text(),
                    GoalOddsID: $row.find('td:eq(8)').text()
                });
            });

            if (!catchError) {
                $.ajax({
                type: 'post',
                dataType: 'json',
                url: '@Url.Action("Match_OddsUpdate", "Match")?MatchDate='+$("#matchdate").val()+'',
                data: { Table: JSON.stringify(rows) },
                success: function (res) {
                        if (res == true) {
                            ShowMessage('သိမ်းဆည်းခြင်း အောင်မြင်ပါသည်', 'success');
                        }
                        else {
                            ShowMessage('သိမ်းဆည်းခြင်း မအောင်မြင်ပါ', 'error')
                        }
                    }
                });
            } 
        }

        function GetOdds() {
            $.ajax({
                url: '@Url.Action("GetOdds", "Odds")',
                type: "GET",
                dataType: "JSON",
                dataSrc: '',
                success: function (res) {
                    BindOdds(res);
                }
            })
        }

        function RemoveBtnColor(OddsTypeID) {
            $("#card"+OddsTypeID+ " .btn-danger").each(function () {
                $(this).removeClass('btn-danger');
                $(this).addClass('btn-default')
            });
        }

        function Add(btn, OddsId, OddsTitleID, OddsTypeID) {
            RemoveBtnColor(OddsTypeID)

            if (!$(btn).hasClass('btn-danger')) {
                $(btn).removeClass('btn-default');
                $(btn).addClass('btn-danger');

                if (OddsTypeID == 1) {
                    $("#lblBodyOdds").html($(btn).html());
                    $("#BodyOddsId").val(OddsId);

                    $('#card1').CardWidget('collapse');
                    $('#card2').CardWidget('expand');
                }
                else if (OddsTypeID == 2) {
                    $("#lblGoalOdds").html($(btn).html());
                    $("#GoalOddsId").val(OddsId);

                    $('#card2').CardWidget('collapse');
                }
            }
            else {
                $(btn).removeClass('btn-danger');
                $(btn).addClass('btn-default');
                if (OddsTypeID == 1) {
                    $("#lblBodyOdds").html('');
                }
                else if (OddsTypeID == 2) {
                    $("#lblGoalOdds").html('');
                }
            }            
        }

        function BindOdds(res) {
            var cl = $("#OddsList");
            cl.empty();
            var e = '';
            var OddsTypeID = '';
            var OddsTitleID = '';
            for (var i = 0; i < res.length; i++) {
                if (OddsTypeID != res[i].OddsTypeID) {
                    if (OddsTypeID) {
                        e = e + '</div>' +
                            '</div>';
                    }

                    e = e + '<div class="card collapsed-card" id="card' + res[i].OddsTypeID + '">' +
                        '<div class="card-header bg-cyan">' +
                        '<h3 class="card-title">' + res[i].OddsTypeName + '</h3>' +
                        '<div class="card-tools">' +
                        '<button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">' +
                        '<i class="fas fa-plus"></i>' +
                        '</button>' +
                        '</div>' +
                        '</div>' +
                        '<div class="card-body">' +
                        '<div class="row mb-1"><b>' + res[i].OddsTitle + '</b></div>' +
                        '<button type="button" id="btn' + res[i].OddsID + '" onclick="Add(this,' + res[i].OddsID + ',' + res[i].OddsTitleID + ',' + res[i].OddsTypeID +')" class="btn btn-default col-md-3 col-xl-2 mb-1">' +
                        res[i].OddsName +
                        '</button>'
                }
                else {
                    if (OddsTitleID != res[i].OddsTitleID) {
                        e = e + '<div class="row mb-1"><b>' + res[i].OddsTitle + '</b></div>' +
                            '<button type="button" id="btn' + res[i].OddsID + '" onclick="Add(this,' + res[i].OddsID + ',' + res[i].OddsTitleID + ',' + res[i].OddsTypeID +')" class="btn btn-default col-md-3 col-xl-2 mb-1">' +
                            res[i].OddsName +
                            '</button>'
                    }
                    else {
                        e = e + '<button type="button" id="btn' + res[i].OddsID + '" onclick="Add(this,' + res[i].OddsID + ',' + res[i].OddsTitleID + ',' + res[i].OddsTypeID +')" class="btn btn-default col-md-3 col-xl-2 mb-1">' +
                            res[i].OddsName +
                            '</button>'
                    }
                }
                OddsTypeID = res[i].OddsTypeID;
                OddsTitleID = res[i].OddsTitleID;

            }
            cl.append(e);
        }

        function ShowMessage(msg, status) {

            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000
            });

            Toast.fire({
                type: status,
                title: msg
            });
        }

        function BindMatch() {
            var table = $('#tblMatch').DataTable(
                {
                    "language": {
                        "info": "Display _START_ to _END_ of _TOTAL_ records",
                    },
                    "oLanguage": {
                        "sLengthMenu": "Display _MENU_ records",
                    },
                    "ajax": {
                        "url": '@Url.Action("GetMatch", "Match")?MatchDate='+$("#matchdate").val()+'',
                        "type": "GET",
                        "datatype": "json",
                        "dataSrc": ""
                    },
                    "searching": false,
                    "responsive": true,
                    "order": [[10, "asc"]],
                    "autoWidth": false,
                    "destroy": "true",
                    "paging": false,
                    "columns": [
                        { "data": "MatchID","className":"displayNone" },
                        { "data": "MatchTime" },
                        { "data": "Team1OddsID", "className":"t1OddsID displayNone"},
                        { "data": "Team1Odds","className":"t1Odds"},
                        { "data": "Home","className":"HomeTeam"},
                        { "data": "Away", "className": "AwayTeam"},
                        { "data": "Team2OddsID", "className":"t2OddsID displayNone"},
                        { "data": "Team2Odds","className":"t2Odds" },
                        { "data": "GoalOddsID", "className": "tdGoalOddsID displayNone" },
                        { "data": "GoalOdds", "className": "tdGoalOdds" },
                        { "data": "SEQ", "className": "displayNone" },
                    ],
                }
            );
        }
    </script>
}
