
@{
    ViewBag.Title = "MatchEntry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="@Url.Content("~/plugins/daterangepicker/daterangepicker.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css")" rel="stylesheet" type="text/css" />
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>ပွဲစဉ်များဖြည့်သွင်းရန်</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Match Entry</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <div class="card">
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-xl-2 col-md-4">
                    <label for="matchdate">ပွဲကစားမည့်နေ့</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text text-custom2" id="basic-addon1"><i class="fa fa-calendar-alt"></i></span>
                        </div>
                        <input readonly="readonly" type="text" class="form-control float-right" id="matchdate" onchange="DateChange();">
                    </div>
                </div>
            </div>
        </div>
    </div>  
    <div id="TeamList">
    </div>
    <div class="card">
        <div class="card-body">
            <table id="tblTeam" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th style="width:22%">ပွဲချိန်</th>
                        <th style="display: none">HomeID</th>
                        <th style="width:30%">Home</th>
                        <th style="display: none">AwayID</th>
                        <th style="width:30%">Away</th>
                        <th style="width:18%"></th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
        <div class="card-footer">
            <div style="text-align:center;">
                <button type="button" id="btnSave" onclick="Save();" class="btn btn-success">သိမ်းဆည်းမည်</button>
            </div>
        </div>
    </div>

    <input id="tdPlace" type="hidden" value="1" />
</section>


@section Scripts{
    <script src="@Url.Content("~/plugins/daterangepicker/moment.min.js")"></script>
    <script src="@Url.Content("~/plugins/daterangepicker/daterangepicker.js")"></script>
    <script src="@Url.Content("~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js")"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('#matchdate').daterangepicker({
                timePicker: false, //<==MAKE THE CHANGE HERE
                singleDatePicker: true, //<==MAKE THE CHANGE HERE
                locale: {
                    format: 'DD-MM-YYYY'
                }
            });


            GetTeam();
        });

        function DateChange() {
            $(".btn-danger").each(function () {
                $(this).removeClass('btn-danger'); 
                $(this).addClass('btn-default')
            });

            BindMatch();
        }

        function BindMatch() {
            $.ajax({
                url: '@Url.Action("GetMatch", "Match")?MatchDate='+$("#matchdate").val()+'',
                type: "GET",
                dataType: "JSON",
                dataSrc: '',
                success: function (res) {
                    BindToTable(res)
                }
            })
        }

        function BindToTable(res) {
            $("#tblTeam").find("tr:gt(0)").remove();

            $.each(res, function (key, value) {
                $("#tdPlace").val(1);
                Add($("#btn" + value.TeamID1),value.TeamID1)
                Add($("#btn" + value.TeamID2), value.TeamID2)              
                $('#ShowTime' + value.TeamID1).val(value.MatchTime)
            });
        }

        function GetTeam() {
            $.ajax({
                url: '@Url.Action("GetTeam", "Team")',
                type: "GET",
                dataType: "JSON",
                dataSrc: '',
                success: function (res) {
                    CreateCardByCountry(res);
                }
            })
        }

        function ShowMessage(msg, status) {

            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000
            });

            Toast.fire({
                type: status,
                title: msg
            });
        }

        function Save() {
            var catchError = false;

            var rows = [];
            $('#tblTeam tbody tr').each(function (i, n) {
                var $row = $(n);
                if (!$row.find('.datetimepicker-input').val()) {
                    ShowMessage('ပွဲချိန် ဖြည့်သွင်း ပေးပါ', 'error');
                    catchError = true;
                    return false;
                }
                else if (!$row.find('td:eq(3)').text()) {
                    ShowMessage('ကန်မည့် ၂သင်းလုံး ထည့်သွင်းပေးပါ', 'error');
                    catchError = true;
                    return false;
                }

                rows.push({
                    MatchTime: $row.find('.datetimepicker-input').val(),
                    Team1: $row.find('td:eq(1)').text(),
                    Team2: $row.find('td:eq(3)').text()
                });
            });

            if (!catchError) {
                $.ajax({
                type: 'post',
                dataType: 'json',
                url: '@Url.Action("Match_Save", "Match")?MatchDate='+$("#matchdate").val()+'',
                data: { Table: JSON.stringify(rows) },
                success: function (res) {
                        if (res == true) {
                            ShowMessage('သိမ်းဆည်းခြင်း အောင်မြင်ပါသည်', 'success');
                        }
                        else {
                            ShowMessage('သိမ်းဆည်းခြင်း မအောင်မြင်ပါ', 'error')
                        }
                    }
                });
            } 
        }

        function Delete(btn) {
            var trow = $(btn).closest('tr');
            var btn1 = "#btn" +trow.find('td:eq(1)').html();
            if (trow.find('td:eq(1)').html()) {
                $(btn1).removeClass('btn-danger');
                $(btn1).addClass('btn-default');
            }

            var btn2 = "#btn" + trow.find('td:eq(3)').html();
            if (trow.find('td:eq(3)').html()) {
                $(btn2).removeClass('btn-danger');
                $(btn2).addClass('btn-default');
            }

            $(btn).closest('tr').remove();

            $("#tdPlace").val(1);
        }

        function Add(btn, teamid) {
            if (!$(btn).hasClass('btn-danger')) {
                $(btn).removeClass('btn-default');
                $(btn).addClass('btn-danger')
                
                if ($("#tdPlace").val() == 1) {
                    var trow = '<tr><td>'
                        + '<div class="input-group date" id="timepicker' + teamid + '" data-target-input="nearest">'
                        + '<input type="text" id="ShowTime'+ teamid + '" class="form-control datetimepicker-input" data-target="#timepicker' + teamid + '" />'
                        + '<div class="input-group-append" data-target="#timepicker' + teamid + '" data-toggle="datetimepicker">'
                        + '<div class="input-group-text"><i class="far fa-clock"></i></div>'
                        + '</div>'
                        + '</div>'
                        + '</td><td style="display: none">' + teamid + '</td><td>' + $(btn).text()
                        + '</td><td style="display: none"></td><td></td><td><button type="button" id="btnDelete" onclick="Delete(this);" class="btn btn-block btn-danger">ဖျက်မည်</button></td></tr>';
                    var tableBody = $("#tblTeam tbody");
                    tableBody.append(trow);

                    $("#tdPlace").val(2);

                    $('#timepicker' + teamid).datetimepicker({
                        format: 'LT'
                    })
                }
                else {
                    $('#tblTeam tr:last td:nth-child(4)').html(teamid);
                    $('#tblTeam tr:last td:nth-child(5)').html($(btn).text());

                    $("#tdPlace").val(1);
                }
            }
            
            
        }
       
        function CreateCardByCountry(res) {
            var cl = $("#TeamList");
            cl.empty();
            var e = '';
            var countryID = '';
            var competitionID = '';
            for (var i = 0; i < res.length; i++) {
                if (countryID != res[i].CountryID) {
                    if (countryID) {
                        e = e + '</div>' +
                            '</div>';
                    }

                    e = e + '<div class="card collapsed-card" id="card' + res[i].CountryID + '">' +
                        '<div class="card-header bg-cyan">' +
                        '<h3 class="card-title">' + res[i].CountryNameMM + '</h3>' +
                        '<div class="card-tools">' +
                        '<button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">' +
                        '<i class="fas fa-plus"></i>' +
                        '</button>' +
                        '</div>' +
                        '</div>' +
                        '<div class="card-body">' +
                        '<div class="row mb-1"><b>' + res[i].CompetitionNameMM + '</b></div>' +
                        '<button type="button" id="btn' + res[i].TeamID + '" onclick="Add(this,' + res[i].TeamID + ')" class="btn btn-default col-md-3 col-xl-2 mb-1">' +
                        res[i].TeamNameMM +
                        '</button>'
                }
                else {
                    if (competitionID != res[i].CompetitionID) {
                        e = e + '<div class="row mb-1"><b>' + res[i].CompetitionNameMM + '</b></div>' +
                            '<button type="button" id="btn' + res[i].TeamID + '" onclick="Add(this,' + res[i].TeamID + ')" class="btn btn-default col-md-3 col-xl-2 mb-1">' +
                            res[i].TeamNameMM +
                            '</button>'
                    }
                    else {
                        e = e + '<button type="button" id="btn' + res[i].TeamID + '" onclick="Add(this,' + res[i].TeamID + ')" class="btn btn-default col-md-3 col-xl-2 mb-1">' +
                            res[i].TeamNameMM +
                            '</button>'
                    }
                }
                countryID = res[i].CountryID;
                competitionID = res[i].CompetitionID;

            }
            cl.append(e);
        }
    </script>
}


