
@{
    ViewBag.Title = "MatchResultEntry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="@Url.Content("~/plugins/daterangepicker/daterangepicker.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/dist/css/jquery.bootstrap-touchspin.css")" rel="stylesheet" type="text/css" />
}

<!-- Main content -->
<section class="content">  
    
    <div class="card">
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-xl-3 col-md-4">
                    <label for="matchdate">ပွဲကစားသည့်နေ့</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button style="color:white" class="btn btn-danger" onclick="GetPrevMatch();" type="button">
                                ☜
                            </button>
                            <span class="input-group-text text-custom2" id="basic-addon1"><i class="fa fa-calendar-alt"></i></span>
                        </div>
                        <input readonly="readonly" type="text" class="form-control float-right" id="matchdate">
                        <div class="input-group-append">
                            <button style="color:white" class="btn btn-danger" onclick="GetNextMatch();" type="button">
                                ☞
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <table id="tblMatch" class="table table-bordered table-striped disable-dbl-tap-zoom">
                <thead>
                    <tr>
                        <th style="display:none"></th>
                        <th>ပွဲချိန်</th>
                        <th>Home</th>
                        <th></th>
                        <th></th>
                        <th>Away</th>
                        <th style="display:none">SEQ</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
        <div class="card-footer">
            <div style="text-align:center;">
                <button type="button" id="btnSave" onclick="Save();" class="btn btn-success">သိမ်းဆည်းမည်</button>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="@Url.Content("~/plugins/daterangepicker/moment.min.js")"></script>
    <script src="@Url.Content("~/plugins/daterangepicker/daterangepicker.js")"></script>
    <script src="@Url.Content("~/dist/js/jquery.bootstrap-touchspin.js")"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#matchdate').daterangepicker({
                timePicker: false, //<==MAKE THE CHANGE HERE
                singleDatePicker: true, //<==MAKE THE CHANGE HERE
                locale: {
                    format: 'DD-MM-YYYY'
                }
            });

            GetLastMatch();
        });

        function GetLastMatch() {
            $.ajax({
                url: '@Url.Action("GetLastMatch", "Match")?MatchDate=' + $("#matchdate").val(),
                type: "GET",
                dataType: "JSON",
                dataSrc: '',
                success: function (res) {                   

                    if (Object.keys(res).length > 0) {
                        var matchDate = res[0].MatchDate;
                        $('#matchdate').data('daterangepicker').setStartDate(matchDate);
                        $('#matchdate').data('daterangepicker').setEndDate(matchDate);

                        BindMatch();
                    }

                }
            })
        }

        function GetPrevMatch() {
            $.ajax({
                url: '@Url.Action("GetPrevMatch", "Match")?MatchDate=' + $("#matchdate").val(),
                type: "GET",
                dataType: "JSON",
                dataSrc: '',
                success: function (res) {
                    var matchDate;
                    if (Object.keys(res).length > 0) {
                        var matchDate = res[0].MatchDate;
                        $('#matchdate').data('daterangepicker').setStartDate(matchDate);
                        $('#matchdate').data('daterangepicker').setEndDate(matchDate);

                        BindMatch();
                    }
                }
            })
        }

        function GetNextMatch() {
            $.ajax({
                url: '@Url.Action("GetNextMatch", "Match")?MatchDate=' + $("#matchdate").val(),
                type: "GET",
                dataType: "JSON",
                dataSrc: '',
                success: function (res) {
                    var matchDate;
                    if (Object.keys(res).length > 0) {
                        var matchDate = res[0].MatchDate;
                        $('#matchdate').data('daterangepicker').setStartDate(matchDate);
                        $('#matchdate').data('daterangepicker').setEndDate(matchDate);

                        BindMatch();
                    }
                }
            })
        }

        function Save() {
            var catchError = false;

            var rows = [];
            $('#tblMatch tbody tr').each(function (i, n) {
                var $row = $(n);

                rows.push({
                    MatchID: $row.find('td:eq(0)').text(),
                    Team1Goal: $row.find('.t1').val(),
                    Team2Goal: $row.find('.t2').val(),
                });
            });

            if (!catchError) {
                $.ajax({
                type: 'post',
                dataType: 'json',
                url: '@Url.Action("MatchResult_Update", "Match")',
                data: { Table: JSON.stringify(rows) },
                success: function (res) {
                        if (res == "1") {
                            ShowMessage('သိမ်းဆည်းခြင်း အောင်မြင်ပါသည်', 'success');
                        }
                        else if (res == "0") {
                            ShowMessage('သိမ်းဆည်းခြင်း မအောင်မြင်ပါ', 'error')
                        }
                        else {
                            window.location.href = "http://3.133.30.8/User_Synchronization";
                        }
                    }
                });
            }
        }

        function RemoveBtnColor(OddsTypeID) {
            $("#card"+OddsTypeID+ " .btn-danger").each(function () {
                $(this).removeClass('btn-danger');
                $(this).addClass('btn-default')
            });
        }

        function ShowMessage(msg, status) {

            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000
            });

            Toast.fire({
                type: status,
                title: msg
            });
        }

        function ButtonClick(type, btn,cName) {
            if (type == 1) {
                var txt = $(btn).closest('tr').find(cName);
                if ($(txt).val() > 0) {
                    var v1 = -1 + + $(txt).val();
                    $(txt).val(v1);
                }
            }
            else {
                var txt = $(btn).closest('tr').find(cName);
                if ($(txt).val() < 15) {
                    var v1 = 1 + + $(txt).val();
                    $(txt).val(v1);
                }
            }
        }

        function BindMatch() {
            var table = $('#tblMatch').DataTable(
                {
                    "language": {
                        "info": "Display _START_ to _END_ of _TOTAL_ records",
                    },
                    "oLanguage": {
                        "sLengthMenu": "Display _MENU_ records",
                    },
                    "ajax": {
                        "url": '@Url.Action("GetMatch", "Match")?MatchDate='+$("#matchdate").val()+'',
                        "type": "GET",
                        "datatype": "json",
                        "dataSrc": ""
                    },
                    "searching": false,
                    "responsive": true,
                    "order": [[6, "asc"]],
                    "autoWidth": false,
                    "destroy": "true",
                    "paging": false,
                    "columns": [
                        { "data": "MatchID","className":"displayNone" },
                        { "data": "MatchTime","width":"14%" },
                        { "data": "Home","width":"25%" },
                        {
                            "data": "TeamGoals1", render: function (data, type, row) {
                                return '<div class="input-group">'+
                                            '<div class="input-group-prepend">'+
                                            '<button style="color:white" class="btn btn-danger disable-dbl-tap-zoom" type="button" onclick="ButtonClick(1,this,\'.t1\');">'+
                                                    '-'+
                                                '</button>'+
                                            '</div>'+
                                            '<input type="number" inputmode="decimal" style="text-align: center" readonly="readonly" class="form-control t1" placeholder="" value="' + row.Team1Goal +'" />'+
                                            '<div class="input-group-append">'+
                                                '<button style="color:white" class="btn btn-danger .disable-dbl-tap-zoom" type="button" onclick="ButtonClick(2,this,\'.t1\');">'+
                                                    '+'+
                                                '</button>'+
                                            '</div>'+
                                        '</div>'
                                //return '<button class="btn btn-info">+</button><input id="' + row.MatchID + '_1" class="form-control col-xl-12 col-md-12 aligncenter t1" min="0" max="15"  type="number" value="'+ row.Team1Goal +'" >'
                            },"width":"18%"
                        },
                        {
                            "data": "TeamGoals2", render: function (data, type, row) {
                                return '<div class="input-group">' +
                                    '<div class="input-group-prepend">' +
                                    '<button style="color:white" class="btn btn-danger disable-dbl-tap-zoom" type="button" onclick="ButtonClick(1,this,\'.t2\');">' +
                                    '-' +
                                    '</button>' +
                                    '</div>' +
                                    '<input type="number" inputmode="decimal" style="text-align: center" readonly="readonly" class="form-control t2" placeholder="" value="' + row.Team2Goal + '" />' +
                                    '<div class="input-group-append">' +
                                    '<button style="color:white" class="btn btn-danger disable-dbl-tap-zoom" type="button" onclick="ButtonClick(2,this,\'.t2\');">' +
                                    '+' +
                                    '</button>' +
                                    '</div>' +
                                    '</div>'
                                //return '<input id="' + row.MatchID + '_2" class="form-control col-xl-12 col-md-12 aligncenter t2" min="0" max="15" type="number" value="' + row.Team2Goal + '">'
                            }, "width": "18%"
                        },
                        { "data": "Away", "width": "25%" },
                        { "data": "SEQ", "className":"displayNone"},
                    ],
                }
            );
        }
    </script>
}