
@{
    ViewBag.Title = "UserTransitionEntry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="@Url.Content("~/plugins/daterangepicker/daterangepicker.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css")" rel="stylesheet" type="text/css" />
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">               
                <h1>UserTransition Entry</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">UserTransition Entry</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <div class="card">
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-xl-2 col-md-3">                    
                    <label for="TransDate">PayDate:</label><label style="color:red">*</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text text-custom2" id="basic-addon1"><i class="fa fa-calendar-alt"></i></span>
                        </div>
                        <input readonly="readonly" type="text" class="form-control float-right" id="TransDate">
                    </div>
                </div>
            </div>
            <div class="card" id="card4">
                <div class="card-header bg-cyan">
                    <label style="color:red">*</label>
                    <h3 class="card-title">UserName</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div id="UserList" class="row">
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-xl-2 col-md-3">
                    <label for="TranType">Transition Type:</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text text-custom2" id="basic-addon1"><i class="fa fa-calendar-alt"></i></span>
                        </div>
                        @Html.DropDownList("ddlTranType", new List<SelectListItem>
                     {
                         new SelectListItem{ Text="---Select---", Value = "" },
                         new SelectListItem{ Text="Input", Value = "1" },
                         new SelectListItem{ Text="Output", Value = "2" },
                     }, new
                     {
                         @class = "form-control select2bs4 input-sm",
                         @id = "ddlTranType",
                         @tabindex = "15"
                     })
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-xl-2 col-md-3">
                    <label for="Balance">Balance:</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text text-custom2" id="basic-addon1"><i class="fa fa-calendar-alt"></i></span>
                        </div>
                        <input type="text" class="form-control float-right" id="Balance">
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div style="text-align:center;">
                <button type="button" id="btnSave" onclick="Save();" class="btn btn-success">သိမ်းဆည်းမည်</button>
            </div>
        </div>
    </div>
    <input id="UserID" type="hidden" value="1" />
</section>

@section Scripts{
    <script src="@Url.Content("~/plugins/daterangepicker/moment.min.js")"></script>
    <script src="@Url.Content("~/plugins/daterangepicker/daterangepicker.js")"></script>
    <script src="@Url.Content("~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js")"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('#TransDate').daterangepicker({
                timePicker: false, //<==MAKE THE CHANGE HERE
                singleDatePicker: true, //<==MAKE THE CHANGE HERE
                locale: {
                    format: 'DD-MM-YYYY'
                }
            });
            GetUser();
        });

        function ButtonRemoveColor() {
            $(".btn-danger").each(function () {
                $(this).removeClass('btn-danger');
                $(this).addClass('btn-default')
            });
        }

          function GetUser() {
              $.ajax({
                  url: '@Url.Action("GetUser", "UserBalance")',
                  type: "GET",
                  dataType: "JSON",
                  dataSrc: '',
                  success: function (res) {
                      BindUser(res);
                  }
              })
        }      

        function BindUser(res) {
            var val = $("#LoginUserID").val();
            var cl = $("#UserList");
           
            cl.empty();
            var e = '';
            for (var i = 0; i < res.length; i++) {
                e = e + '<button type="button" id="btn' + res[i].UserID + '" onclick="BtnUser(this,\'' + res[i].UserID + '\')" class="btn btn-default col-md-3 col-xl-2 mb-1">'
                    + res[i].UserName +
                    '</button>'
            }

            cl.append(e);

            $("#btn" + val).removeClass("btn-default");
            $("#btn" + val).addClass("btn-danger");
        }

        function BtnUser(btn, UserID) {
            ButtonRemoveColor();
            if (!$(btn).hasClass('btn-danger')) {
                $(btn).removeClass('btn-default');
                $(btn).addClass('btn-danger')
            }

            $("#UserID").val(UserID);
        }

        function Save() {
            var catchError = false;
            if ($("#UserID").val() ==1) {
                $("#UserID").val($("#LoginUserID").val());
            }
            //if ($("#TransDate").val() == '') {
            //    ShowMessage('Please Enter PayDate!', 'warning')
            //    return;
            //}//Readonly no need
            var US = $("#TransDate").val() + '/' + $("#UserID").val() + '/' + $("#ddlTranType").val() + '/' + $("#Balance").val();

            if (!catchError) {                
                  $.ajax({
                      url: '@Url.Action("DataIsExists", "UserBalance")?data=' + US + '',
                    type: 'post',
                    dataType: 'json',
                    dataSrc: '',
                    success: function (res) {
                        if (res == true) {
                            ShowMessage('UserName is Already Exists!', 'warning');
                        }
                        else {
                            $.ajax({
                                url: '@Url.Action("GetUserTranstionEntry", "UserBalance")?usEntry=' + US + '',
                                type: 'post',
                                dataType: 'json',
                                dataSrc: '',
                                success: function (res) {
                                    if (res == true) {
                                        ShowMessage('သိမ်းဆည်းခြင်း အောင်မြင်ပါသည်', 'success');
                                        Clear();
                                    }
                                    else {
                                        ShowMessage('သိမ်းဆည်းခြင်း မအောင်မြင်ပါ', 'error')
                                    }
                                }
                            });
                        }
                    }
                });
            }
        }

        function Clear() {
            var d = new Date();
            var day = d.getDate();
            var month = d.getUTCMonth() + 1;
            var date = (day < 10 ? "0" : "") + day + "-" + (month < 10 ? "0" : "") + month + "-" + new Date().getFullYear();
            $("#TransDate").val(date);
            // var date = new Date().getFullYear() + "-" + (new Date().getUTCMonth + 1) + "-" + new Date().getDate();
            //var date = $("#TransDate").val(new Date().toISOString().substring(0, 10));
            ButtonRemoveColor();
            $("#btn" + $("#LoginUserID").val()).removeClass("btn-default");
            $("#btn" + $("#LoginUserID").val()).addClass("btn-danger");
            $("#ddlTranType").val('');
            $("#Balance").val('');
        }
        function ShowMessage(msg, status) {

            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000
            });

            Toast.fire({
                type: status,
                title: msg
            });
        }

        </script>
}
